<h1>Edit Your Account Information</h1>
<hr/>

<%= render 'form' %>

<a href="/">
  <i class="fa fa-arrow-left"></i>
  Back to Home
</a> |
<%= link_to 'Show Pins', @user %> 
<%# <%= link_to 'Back', users_path %>
