<div class="header">
  <h1><%= "#{@user.fullname}" %>'s Pins</h1>
</div>
<hr/>
<%= render partial: "shared/pins_list" %>

<hr/>
<p id="notice"><%= notice %></p>

<%# <i class="fa fa-arrow-left"></i>
<%= link_to 'Back to Home', root_path %>

<a href="/">
  <i class="fa fa-arrow-left"></i>
  Back to Home
</a>
